<section class="services-details container">
  <h2 class="section-title-black services-details-title">What we are doing</h2>
  <p class="services-details-promo">
    We specialize in enhancing and perfecting your natural beauty through a
    range of professional services and treatments.
  </p>
  <img
    class="services-details-img"
    srcset="
      ./images/services_page/Pic81-mob@200.png    200w,
      ./images/services_page/Pic81-mob@400.png    400w,
      ./images/services_page/Pic81-desk@600.png   600w,
      ./images/services_page/Pic81-desk@1200.png 1200w
    "
    sizes="(min-width: 768px) 600px, (min-width: 320px) 200px, 200px"
    src="./images/services_page/Pic81-desk@600.png"
    alt="pencil"
  />
  <ul class="services-list">
    <li class="service-item">
      <h3 class="service-item-name">Eyebrow design</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyebrow design is a meticulous process that involves shaping and
          sculpting the eyebrows to create a well-defined and symmetrical
          appearance. It takes into account the individual's facial features,
          bone structure, and personal preferences to create an eyebrow shape
          that enhances their natural beauty. Through techniques such as waxing,
          tweezing, and trimming, eyebrow design can transform the face by
          framing the eyes and providing a polished and sophisticated look.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> Lycon wax,
          Irisk brush.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 30 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          300 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Eyebrow design and coloring</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyebrow design and coloring is a specialized service aimed at shaping
          and enhancing the eyebrows to achieve a desired look that complements
          the individual's features. It involves expertly shaping the eyebrows
          to create a flattering arch and filling in any sparse areas with a
          suitable color to achieve a defined and polished appearance.This
          process can transform the face by framing the eyes and providing a
          harmonious balance to the overall facial aesthetic.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span>
          Gschwentner Haarkosmetik paint, Irisk brush
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 40 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          450 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Spa henna eyelash tinting</h3>
      <div class="service-description">
        <p class="services-item-text">
          Spa henna eyelash tinting is a popular beauty treatment that involves
          applying henna dye to the lashes to create a temporary,
          natural-looking tint. This procedure is gentle and safe, making it
          suitable for those with sensitive eyes. The henna dye not only adds
          depth and color to the lashes but also nourishes and conditions them,
          resulting in a fuller and more luscious appearance.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span>
          Supercilium henna tint paste, Irisk brush
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 40 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          450 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Facial threading</h3>
      <div class="service-description">
        <p class="services-item-text">
          Facial threading is a precise and ancient hair removal technique that
          originated in the Middle East and India.It involves using a twisted
          thread to remove unwanted hair from the face, including the eyebrows,
          upper lip, and chin.This method is highly effective in shaping the
          eyebrows, achieving clean facial contours, and providing long-lasting
          results without the use of chemicals or wax.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> GIGI
          threading threads and kits, Tweezerman tweezer.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 30 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          350 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Facial waxing</h3>
      <div class="service-description">
        <p class="services-item-text">
          Facial waxing is a popular method of hair removal that involves the
          application of warm wax to the facial area and then swiftly removing
          it, along with the unwanted hair, using a cloth strip. This technique
          is commonly used to remove hair from the eyebrows, upper lip, chin,
          and cheeks.Facial waxing provides smooth and long-lasting results,
          leaving the skin hair-free and giving a clean and polished appearance.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> Cirepil
          wax
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 30 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          300 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Eyelash lamination</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyelash lamination is a popular beauty treatment that enhances the
          appearance of natural eyelashes. It involves applying a specialized
          solution to lift, curl, and set the lashes in place, creating a fuller
          and more defined look. The process typically takes about one hour and
          the results can last for several weeks, giving you a low-maintenance
          option for beautiful lashes.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> Elleebana
          lamination kit, lifting solutions, setting lotion, and nourishing
          serum
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 60 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          500 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Eyelash extensions</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyelash extensions are a semi-permanent beauty treatment that involves
          attaching individual synthetic lashes to your natural lashes,
          enhancing their length, thickness, and curl. The process is
          meticulously done by a trained professional, and the results can last
          for several weeks with proper care. Eyelash extensions provide a
          dramatic and glamorous look, eliminating the need for mascara and
          giving you effortlessly stunning lashes.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> Blink Lash
          Stor eyelash extensions, adhesives, and tools for lash artists
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 90 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          450 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Eyelash botox</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyelash botox, also known as lash botox or lash lift, is a cosmetic
          treatment that aims to enhance the appearance of eyelashes by giving
          them a lifted and curled look.The procedure involves the use of a
          specialized solution that is applied to the lashes, helping to relax
          and soften them for a defined and fuller appearance.Eyelash botox can
          last for several weeks, providing a low-maintenance option for those
          seeking to achieve more voluminous and beautiful lashes.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> LashBase
          lotion
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 60 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          400 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Eyebrow design</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyebrow design is a meticulous process that involves shaping and
          sculpting the eyebrows to create a well-defined and symmetrical
          appearance. It takes into account the individual's facial features,
          bone structure, and personal preferences to create an eyebrow shape
          that enhances their natural beauty. Through techniques such as waxing,
          tweezing, and trimming, eyebrow design can transform the face by
          framing the eyes and providing a polished and sophisticated look.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span> Lycon wax,
          Irisk brush.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 30 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          300 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
    <li class="service-item">
      <h3 class="service-item-name">Eyebrow design and coloring</h3>
      <div class="service-description">
        <p class="services-item-text">
          Eyebrow design and coloring is a specialized service aimed at shaping
          and enhancing the eyebrows to achieve a desired look that complements
          the individual's features. It involves expertly shaping the eyebrows
          to create a flattering arch and filling in any sparse areas with a
          suitable color to achieve a defined and polished appearance.This
          process can transform the face by framing the eyes and providing a
          harmonious balance to the overall facial aesthetic.
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Materials and tools:</span>
          Gschwentner Haarkosmetik paint, Irisk brush
        </p>
        <p class="service-item-speciality">
          <span class="service-item-bold">Session duration:</span> 40 minutes
        </p>
      </div>
      <div class="service-item-pricing">
        <p class="service-item-cost">Cost</p>
        <p class="service-value">
          450 <span class="hryvnia-symbol">&#8372;</span>
        </p>
      </div>
    </li>
  </ul>
  <img
    class="service-spray-img"
    srcset="
      ./images/main_page/reviews/Pic51-mob@170.png  170w,
      ./images/main_page/reviews/Pic51-mob@340.png  340w,
      ./images/main_page/reviews/Pic51-desk@310.png 310w,
      ./images/main_page/reviews/Pic51-desk@620.png 620w
    "
    sizes="(min-width: 1200px) 310px, (min-width: 320px) 170px, 170px"
    src="./images/main_page/reviews/Pic51-desk@310.png"
    alt="eyebrow spray"
  />
</section>
