:root {
  --accent-color: #ff312e;

  --bg-color-main: #ffffff;
  --bg-color-secondary: #f2f2f2;
  --bg-color-header: #222222;

  --text-color-main: #222222;
  --text-color-secondary: #ffffff;
  --text-color-tertiary: #f2f2f2;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
