.contacts-details {
  position: relative;
  padding-top: 48px;
  padding-bottom: 36px;
  @include adaptive(desktop) {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

.contacts-details-title {
  margin-bottom: 36px;
  @include adaptive(desktop) {
    margin-bottom: 80px;
  }
}

.contacts-details-box {
  display: flex;
  gap: 36px;
  flex-direction: column;
  @include adaptive(desktop) {
    gap: 24px;
  }
}

.contacts-details-row {
  display: flex;
  gap: 18px;
  flex-direction: column;
  @include adaptive(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts-details-item {
  font-size: 13px;
  line-height: 153.846154%; /* 20/13 */
  @include adaptive(tablet) {
    font-size: 17px;
    line-height: 129.411765%; /* 22/17 */
  }
}

address.contacts-details-item {
  @include adaptive(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 486px;
  }
}

.contacts-details-list {
  display: flex;
  gap: 18px;
  flex-direction: column;
  width: 100%;
}

.contacts-details-name {
  font-weight: 900;
}

.contacts-map-box {
  position: relative;
  @include adaptive(desktop) {
    order: -1;
  }
}

.contacts-map-bg {
  position: absolute;
  top: 0;
  left: 12px;
  width: 294px;
  height: 294px;
  border: 4px solid var(--bg-color-secondary);
  @include adaptive(desktop) {
    left: 0;
    width: 486px;
    height: 486px;
    border: 12px solid #f2f2f2;
  }
}

.contacts-map {
  width: 294px;
  height: 294px;
  transform: translate(6px, 6px);
  @include adaptive(desktop) {
    width: 486px;
    height: 486px;
    transform: translate(24px, 24px);
  }
}

.contacts-details-subtitle {
  font-weight: 900;
  font-size: 15px;
  line-height: 120%; /* 18/15 */
  text-transform: uppercase;
  margin-bottom: 13px;
  @include adaptive(desktop) {
    font-size: 22px;
    line-height: 118.181818%; /* 26/22 */
    margin-bottom: 29px;
  }
}

.contacts-details-text {
  @include adaptive(desktop) {
    font-size: 15px;
    line-height: 146.666667%; /* 22/15 */
  }
}

.contacts-suggestion-wrap {
  display: flex;
  align-items: center;
}

.contacts-suggestion-box {
  width: 300px;

  @include adaptive(desktop) {
    width: 450px;
  }
}

// !FORM

.contacts-details-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  @include adaptive(mobile-large) {
    margin: 0;
  }
  @include adaptive(desktop) {
    width: 486px;
  }
}

.check-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-icon-wrap {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 18px;
  border: 2px solid var(--bg-color-secondary);
  border-radius: 2px;
  transition: border, background-color 0.3s ease;
  cursor: pointer;

  .agreement-check:checked + .check-label & {
    background-color: var(--accent-color);
    border: 2px solid transparent;
  }
  .agreement-check:focus + .check-label & {
    border-color: var(--accent-color);
  }
}

.check-icon {
  position: absolute;
  top: -2px;
  left: -2px;
  fill: transparent;

  .agreement-check:checked + .check-label & {
    fill: var(--bg-color-main);
  }
}

.check-modal-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.contacts-details-input:focus::placeholder,
.contacts-details-area:focus::placeholder {
  opacity: 0;
}

.contacts-details-input {
  width: 100%;
  min-height: 37px;
  resize: vertical;
  border: 1px solid rgba(34, 34, 34, 0.2);
  padding: 12px;
  &:is(:hover, :focus) {
    outline: 1px solid var(--accent-color);
  }
}

.contacts-details-area {
  resize: none;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(34, 34, 34, 0.2);
  padding: 12px;

  &:is(:hover, :focus) {
    outline: 1px solid var(--accent-color);
  }
}

.contact-detail-button {
  margin: 8px auto 0;
}
.contacts-corrector-img {
  position: absolute;
  top: 290px;
  right: 50px;
  width: 120px;
  pointer-events: none;
  @include adaptive(tablet) {
    top: 300px;
    right: 50%;
    transform: rotate(200deg) translateX(-50%);
  }
  @include adaptive(desktop) {
    top: 700px;
    width: 320px;
  }
}

.contacts-pencil-img {
  position: absolute;
  bottom: -180px;
  width: 200px;
  left: 50%;
  transform: translate(-40%, 0) rotate(-15deg);
  pointer-events: none;
  @include adaptive(tablet) {
    bottom: -100px;
    transform: translate(-40%, 0) rotate(-27deg);
  }
  @include adaptive(desktop) {
    bottom: -300px;
    width: 600px;
  }
}
