<footer class='footer-contacts js-footer-contacts'>
  <div class='container'>
    <h2 class='section-title-white contacts-title js-footer-title'>Always in touch</h2>
    <address class='contact-info'>
      <ul class='contact-list'>
        <li class='contact-item'>
          <a
            href='https://www.google.com/maps/place/%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80+%D0%9B%D0%B5%D1%81%D1%96+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%BA%D0%B8,+14,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4339396,30.5282278,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf041bfe3ea5:0xc77b785e2b62571e!8m2!3d50.4339396!4d30.5304165!16s%2Fg%2F1td_3p_7?entry=ttu'
            target='_blank'
            rel='noopener noreferrer'
            class='contact-link link'
            >Kyiv, Lesi Ukrainky Blvd, 14</a
          >
          <p class='contact-detail'>Daily from 8:00 AM to 8:00 PM</p>
        </li>
        <li class='contact-item'>
          <a href='tel:+380961111111' class='contact-link'>+38 096 111 11 11</a>
          <p class='contact-detail'>Booking by phone</p>
        </li>
        <li class='contact-item'>
          <a href='mailto:browexpert@gmail.com' class='contact-link link'
            >browexpert@gmail.com</a
          >
          <p class='contact-detail'>For questions and suggestions</p>
        </li>
      </ul>
    </address>
    <ul class='footer-menu-list'>
			<li class='footer-menu-item'>
				<p class='footer-copy'>&#169 Brow Expert 2023</p>
			</li>
			<li class='footer-menu-item'>
				<nav class='footer-nav'>
    	    <ul class='footer-nav-list'>
            <li class='footer-nav-item'>
                <a class='footer-nav-link' href='./index.html' class='current-page'
                  >Home</a
                >
            </li>
            <li class='footer-nav-item'>
                <a class='footer-nav-link about-link' href='./about.html'>About</a>
            </li>
            <li class='footer-nav-item'>
                <a class='footer-nav-link' href='./services.html'>Services</a>
            </li>
            <li class='footer-nav-item'>
                <a class='footer-nav-link' href='#'>Reviews</a>
            </li>
            <li class='footer-nav-item'>
                <a class='footer-nav-link' href='./courses.html'> Courses</a>
            </li>
            <li><a class='footer-nav-link' href='./contacts.html'>Contacts</a></li>
            </ul>
        </nav>
		</li>
			<li class='contacts-social'>
				<p class='social-text'>Find us on social media</p>
				<a   href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noopener noreferrer">
					<svg class='facebook-icon' width='20' height='20'>
          <use
            class='facebook'
            href='./images/svg-icons.svg#icon-facebook'
          ></use>
        </svg>
				</a>
				<a   href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer">
				<svg class='instagram-icon' width='20' height='20'>
          <use
            class='instagram'
            href='./images/svg-icons.svg#icon-instagram'
          ></use>
        </svg>
				</a>
			</li>
    </ul>
  </div>
</footer>
