<footer class="footer-contacts">
  <div class="container">
    <h2 class="section-title-white contacts-title">Always in touch</h2>
    <address class="contact-info">
      <ul class="contact-list">
        <li class="contact-item">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="contact-link link"
            >Kyiv, Lesi Ukrainky St, 14</a
          >
          <p class="contact-detail">Daily from 8:00 AM to 8:00 PM</p>
        </li>
        <li class="contact-item">
          <a href="tel:+380961111111" class="contact-link">+38 096 111 11 11</a>
          <p class="contact-detail">Booking by phone</p>
        </li>
        <li class="contact-item">
          <a href="mailto:browexpert@gmail.com" class="contact-link link"
            >browexpert@gmail.com</a
          >
          <p class="contact-detail">For questions and suggestions</p>
        </li>
      </ul>
    </address>
    <ul class="footer-menu-list">
			<li class="footer-menu-item">
				<p class="footer-copy">&#169 Brow Expert 2023</p>
			</li>
			<li class="footer-menu-item">
				<nav class="footer-nav">
	        <a href="#">Home</a>
	        <a href="#">About</a>
	        <a href="#">Services</a>
	        <a href="#">Reviews</a>
	        <a href="#"> Courses</a>
	        <a href="#">Contacts</a>
      </nav>
		</li>
			<li class="contacts-social">
				<p class="social-text">Find us on social media</p>
				<a href="#">
					<svg class="facebook-icon" width="20" height="20">
          <use
            class="facebook"
            href="./images/svg-icons.svg#icon-facebook"
          ></use>
        </svg>
				</a>
				<a href="#">
				<svg class="instagram-icon" width="20" height="20">
          <use
            class="instagram"
            href="./images/svg-icons.svg#icon-instagram"
          ></use>
        </svg>
				</a>
			</li>
    </ul>
  </div>
</footer>
