<header class="header js-header">
  <div class="container">
    <ul class="header-menu-desk">
      <li class="header-item">
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="header-address-link"
        >
          <address class="header-address">Kyiv, Lesi Ukrainky St, 14</address>
          <div class="header-address-pointer">Look on the map</div>
        </a>
      </li>
      <li class="header-item">
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="current-page-main">
              <a class="header-nav-link" href="./index.html">Home</a>
            </li>
            <li class="js-nav-item" data-path="about">
              <a class="header-nav-link" href="./about.html">About</a>
            </li>
            <li class="js-nav-item" data-path="services">
              <a class="header-nav-link" href="#">Services</a>
            </li>
            <li class="logo">
              <p>BE</p>
            </li>
            <li class="js-nav-item" data-path="reviews">
              <a class="header-nav-link" href="#">Reviews</a>
            </li>
            <li class="js-nav-item" data-path="courses">
              <a class="header-nav-link" href="#"> Courses</a>
            </li>
            <li class="js-nav-item" data-path="contacts">
              <a class="header-nav-link" href="#">Contacts</a>
            </li>
          </ul>
        </nav>
      </li>
      <li class="header-item">
        <address class="header-phone">
          <a href="tel:+380961111111" class="header-phone-link"
            >+38 096 111 11 11</a
          >
        </address>
        <a href="#" class="header-telegram-link">Write to us</a>
      </li>
    </ul>

    <!-- mobile menu -->
    <div class="mobile-menu-wrap">
      <ul class="header-menu-mobile">
        <li class="header-burger js-menu-open">
          <svg class="header-burger-icon" width="30" height="20">
            <use href="./images/svg-icons.svg#icon-burger"></use>
          </svg>
        </li>
        <li class="header-item">
          <address class="header-phone">
            <a href="tel:+380961111111" class="header-phone-link"
              >+38 096 111 11 11</a
            >
          </address>
          <a href="#" class="header-telegram-link">Write to us</a>
        </li>
        <li class="header-item">
          <a href="#" class="logo">BE</a>
        </li>
      </ul>
      <!-- modal menu -->
      <div class="modal-menu js-modal-menu is-hidden">
        <button type="button" class="mobile-menu-close js-menu-close">
          <svg class="modal-close-icon" width="24" height="24">
            <use
              class="menu-close-cross"
              href="./images/svg-icons.svg#icon-close"
            ></use>
          </svg>
        </button>
        <nav class="mobile-header-nav">
          <ul class="modal-nav-list">
            <li class="modal-nav-item js-modal-item" data-path="index">
              <a href="./index.html" class="mobile-nav-link">Home</a>
            </li>
            <li class="modal-nav-item js-modal-item" data-path="about">
              <a href="./about.html" class="mobile-nav-link">About</a>
            </li>
            <li class="modal-nav-item js-modal-item" data-path="services">
              <a href="#" class="mobile-nav-link">Services</a>
            </li>
            <li class="modal-nav-item js-modal-item" data-path="reviews">
              <a href="#" class="mobile-nav-link">Reviews</a>
            </li>
            <li class="modal-nav-item js-modal-item" data-path="courses">
              <a href="#" class="mobile-nav-link"> Courses</a>
            </li>
            <li class="modal-nav-item js-modal-item" data-path="contacts">
              <a href="#" class="mobile-nav-link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
