<section class="masterschool">
  <div class="container">
    <h2 class="section-title-white">Master school</h2>
    <p class="masterschool-text">
      Eyebrow Master school is an educational institution dedicated to training
      individuals in the art of eyebrow shaping, design, and enhancement
      techniques
    </p>
    <ul class="masterschool-list">
      <li class="masterschool-item">
        <div class="masterschool-number">1</div>
        <div class="masterschool-description">
          <h3 class="masterschool-description-title">Learn</h3>
          <p class="masterschool-description-text">
            Studying at our school offers comprehensive training and knowledge
          </p>
        </div>
      </li>
      <li class="masterschool-item">
        <div class="masterschool-number">2</div>
        <div class="masterschool-description">
          <h3 class="masterschool-description-title">Practice</h3>
          <p class="masterschool-description-text">
            Students engage in rigorous practice to perfect their eyebrow
            techniques.
          </p>
        </div>
      </li>
      <li class="masterschool-item">
        <div class="masterschool-number">3</div>
        <div class="masterschool-description">
          <h3 class="masterschool-description-title">Consult</h3>
          <p class="masterschool-description-text">
            Consult with experienced instructors to receive guidance and
            feedback.
          </p>
        </div>
      </li>
    </ul>
    <div class="masterschool-button-box">
      <button type="button" class="action-button masterschool-button">
        Make an appointment
      </button>
    </div>
    <img
      class="masterschool-img"
      srcset="
        ./images/main_page/masterschool/Pic41-mob@138.png  138w,
        ./images/main_page/masterschool/Pic41-mob@276.png  276w,
        ./images/main_page/masterschool/Pic41-desk@384.png 384w,
        ./images/main_page/masterschool/Pic41-desk@768.png 768w
      "
      sizes="(min-width: 1200px) 384px, (min-width: 320px) 138px, 138px"
      src="./images/main_page/masterschool/Pic41-desk@768.png"
      alt="eyebrow dye"
    />
  </div>
</section>
