<section class="reviews container">
  <h2 class="section-title-black reviews-title">Words about us</h2>
  <div class="swiper reviews-swiper">
    <ul class="swiper-wrapper reviews-swiper-wrapper">
      <li class="swiper-slide review-slide">
        <img
          srcset="
            ./images/main_page/reviews/Pic53-mob@48.jpg    48w,
            ./images/main_page/reviews/Pic53-mob@96.jpg    96w,
            ./images/main_page/reviews/Pic53-desk@160.jpg 160w,
            ./images/main_page/reviews/Pic53-desk@320.jpg 320w
          "
          sizes="(min-width: 768px) 160px, (min-width: 320px) 48px, 48px"
          src="./images/main_page/reviews/Pic53-desk@320.jpg"
          alt="user photo"
          class="review-user-photo"
        />
        <div class="review-user-info">
          <p class="review-user-name">Anna Sydorenko</p>
          <p class="review-user-comment">
            I've been a loyal customer of this eyebrow salon for years, and I'm
            always impressed by the exceptional service and attention to detail
          </p>
        </div>
      </li>
      <li class="swiper-slide review-slide">
        <img
          srcset="
            ./images/main_page/reviews/Pic54-mob@48.jpg     48w,
            ./images/main_page/reviews/Pic54-mob@96.jpg     96w,
            ./images/main_page/reviews/Pic54-desk@160.jpg  160w,
            ./images/main_page/reviews/Pic54-desk@320.jpeg 320w
          "
          sizes="(min-width: 768px) 160px, (min-width: 320px) 48px, 48px"
          src="./images/main_page/reviews/Pic54-desk@320.jpeg"
          alt="user photo"
          class="review-user-photo"
        />
        <div class="review-user-info">
          <p class="review-user-name">Marina Golubchenko</p>
          <p class="review-user-comment">
            I recently visited this eyebrow salon for the first time, and I must
            say it exceeded my expectations. The esthetician was incredibly
            skilled and took the time to understand my desired look
          </p>
        </div>
      </li>
      <li class="swiper-slide review-slide">
        <img
          srcset="
            ./images/main_page/reviews/Pic55-mob@48.jpg     48w,
            ./images/main_page/reviews/Pic55-mob@96.jpg     96w,
            ./images/main_page/reviews/Pic55-desk@160.jpg  160w,
            ./images/main_page/reviews/Pic55-desk@320.jpeg 320w
          "
          sizes="(min-width: 768px) 160px, (min-width: 320px) 48px, 48px"
          src="./images/main_page/reviews/Pic55-desk@320.jpeg"
          alt="user photo"
          class="review-user-photo"
        />
        <div class="review-user-info">
          <p class="review-user-name">Nadin Levenets</p>
          <p class="review-user-comment">
            I can't recommend this eyebrow salon enough! The atmosphere is
            welcoming, and the staff is professional and knowledgeable.The
            result? Impeccably groomed eyebrows that exceeded my expectations
          </p>
        </div>
      </li>
      <li class="swiper-slide review-slide">
        <img
          srcset="
            ./images/main_page/reviews/Pic56-mob@48.jpg     48w,
            ./images/main_page/reviews/Pic56-mob@96.jpg     96w,
            ./images/main_page/reviews/Pic56-desk@160.jpg  160w,
            ./images/main_page/reviews/Pic56-desk@320.jpeg 320w
          "
          sizes="(min-width: 768px) 160px, (min-width: 320px) 48px, 48px"
          src="./images/main_page/reviews/Pic56-desk@320.jpeg"
          alt="user photo"
          class="review-user-photo"
        />
        <div class="review-user-info">
          <p class="review-user-name">Oksana Ivanishyn</p>
          <p class="review-user-comment">
            I recently visited this eyebrow salon for the first time, and I must
            say it exceeded my expectations. The esthetician was incredibly
            skilled and took the time to understand my desired look
          </p>
        </div>
      </li>
      <li class="swiper-slide review-slide">
        <img
          srcset="
            ./images/main_page/reviews/Pic57-mob@48.jpg     48w,
            ./images/main_page/reviews/Pic57-mob@96.jpg     96w,
            ./images/main_page/reviews/Pic57-desk@160.jpg  160w,
            ./images/main_page/reviews/Pic57-desk@320.jpeg 320w
          "
          sizes="(min-width: 768px) 160px, (min-width: 320px) 48px, 48px"
          src="./images/main_page/reviews/Pic57-desk@320.jpeg"
          alt="user photo"
          class="review-user-photo"
        />
        <div class="review-user-info">
          <p class="review-user-name">Alyona Chernetska</p>
          <p class="review-user-comment">
            The esthetician skillfully reshaped and tamed my brows, giving them
            a defined and polished appearance. I'm thrilled with the results and
            won't go anywhere else
          </p>
        </div>
      </li>
      <li class="swiper-slide review-slide">
        <img
          srcset="
            ./images/main_page/reviews/Pic58-mob@48.jpg     48w,
            ./images/main_page/reviews/Pic58-mob@96.jpg     96w,
            ./images/main_page/reviews/Pic58-desk@160.jpg  160w,
            ./images/main_page/reviews/Pic58-desk@320.jpeg 320w
          "
          sizes="(min-width: 768px) 160px, (min-width: 320px) 48px, 48px"
          src="./images/main_page/reviews/Pic58-desk@320.jpeg"
          alt="user photo"
          class="review-user-photo"
        />
        <div class="review-user-info">
          <p class="review-user-name">Tetyana Malyk</p>
          <p class="review-user-comment">
            I've visited many eyebrow salons, but this one stands out. The
            quality of service and expertise is unmatched. I received numerous
            compliments, and I'm thrilled with the outcome
          </p>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination reviews-pagination"></div>
  </div>
  <a class="reviews-details" href="./reviews.html">
    <p>Read all reviews</p>
    <svg class="arrow-more-icon" width="30" height="20">
      <use href="./images/svg-icons.svg#icon-arrow-more"></use>
    </svg>
  </a>
  <img
    class="reviews-spray-img"
    srcset="
      ./images/main_page/reviews/Pic51-mob@170.png  170w,
      ./images/main_page/reviews/Pic51-mob@340.png  340w,
      ./images/main_page/reviews/Pic51-desk@310.png 310w,
      ./images/main_page/reviews/Pic51-desk@620.png 620w
    "
    sizes="(min-width: 1200px) 310px, (min-width: 320px) 170px, 170px"
    src="./images/main_page/reviews/Pic51-desk@310.png"
    alt="eyebrow spray"
  />
  <img
    class="reviews-brushes-img"
    srcset="
      ./images/main_page/reviews/Pic52-desk@600.png   600w,
      ./images/main_page/reviews/Pic52-desk@1200.png 1200w
    "
    sizes="(min-width: 1200px) 600px, 600px"
    src="./images/main_page/reviews/Pic52-desk@1200.png"
    alt="eyebrow brushes"
  />
</section>
