<section class="services container">
  <h2 class="section-title-black services-title">What we are doing</h2>
  <div class="services-main-info">
    <div class="services-form-group">
      <div class="dropdown">
        <button class="dropdown-button" value="">Eyebrow design</button>
        <ul class="dropdown-list service-dropdown-list">
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="e-design"
          >
            Eyebrow design
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="e-coloring"
          >
            Eyebrow design and coloring
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="tinting"
          >
            Spa henna eyelash tinting
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="threading"
          >
            Facial threading
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="waxing"
          >
            Facial waxing
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="lamination"
          >
            Eyelash lamination
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="botox"
          >
            Eyelash botox
          </li>
          <li
            class="dropdown-list-item service-dropdown-list-item"
            data-value="extensions"
          >
            Eyelash extensions
          </li>
          <li class="dropdown-list-item service-dropdown-list-item">
            <a href="#" class="dropdown-list-link">
              <p>View all services</p>
              <svg class="header-burger-icon" width="30" height="20">
                <use href="./images/svg-icons.svg#icon-arrow-more"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- <input
        type="text"
        name="select-category"
        value=""
        class="dropdown-input-hidden"
      /> -->
      </div>
    </div>
    <div class="services-box">
      <div class="service-wrap service-wrap-visible" data-name="e-design">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Eyebrow design</h3>
            <p class="services-text">
              Eyebrow design is a meticulous process that involves shaping and
              sculpting the eyebrows to create a well-defined and symmetrical
              appearance.
            </p>
            <p class="services-text">
              It takes into account the individual's facial features, bone
              structure, and personal preferences to create an eyebrow shape
              that enhances their natural beauty.
            </p>
            <p class="services-text">
              Through techniques such as waxing, tweezing, and trimming, eyebrow
              design can transform the face by framing the eyes and providing a
              polished and sophisticated look.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic31-mob@160.png    160w,
                ./images/main_page/services/Pic31-mob@320.png    320w,
                ./images/main_page/services/Pic31-desk@520.png   520w,
                ./images/main_page/services/Pic31-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic31-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              300 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="e-coloring">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Eyebrow design and coloring</h3>
            <p class="services-text">
              Eyebrow design and coloring is a specialized service aimed at
              shaping and enhancing the eyebrows to achieve a desired look that
              complements the individual's features.
            </p>
            <p class="services-text">
              It involves expertly shaping the eyebrows to create a flattering
              arch and filling in any sparse areas with a suitable color to
              achieve a defined and polished appearance.
            </p>
            <p class="services-text">
              This process can transform the face by framing the eyes and
              providing a harmonious balance to the overall facial aesthetic
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic33-mob@160.png    160w,
                ./images/main_page/services/Pic33-mob@320.png    320w,
                ./images/main_page/services/Pic33-desk@520.png   520w,
                ./images/main_page/services/Pic33-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic33-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              450 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="tinting">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Spa henna eyelash tinting</h3>
            <p class="services-text">
              Spa henna eyelash tinting is a popular beauty treatment that
              involves applying henna dye to the lashes to create a temporary,
              natural-looking tint.
            </p>
            <p class="services-text">
              This procedure is gentle and safe, making it suitable for those
              with sensitive eyes.
            </p>
            <p class="services-text">
              The henna dye not only adds depth and color to the lashes but also
              nourishes and conditions them, resulting in a fuller and more
              luscious appearance.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic34-mob@160.png    160w,
                ./images/main_page/services/Pic34-mob@320.png    320w,
                ./images/main_page/services/Pic34-desk@520.png   520w,
                ./images/main_page/services/Pic34-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic34-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              450 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="threading">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Facial threading</h3>
            <p class="services-text">
              Facial threading is a precise and ancient hair removal technique
              that originated in the Middle East and India.
            </p>
            <p class="services-text">
              It involves using a twisted thread to remove unwanted hair from
              the face, including the eyebrows, upper lip, and chin.
            </p>
            <p class="services-text">
              This method is highly effective in shaping the eyebrows, achieving
              clean facial contours, and providing long-lasting results without
              the use of chemicals or wax.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic35-mob@160.png    160w,
                ./images/main_page/services/Pic35-mob@320.png    320w,
                ./images/main_page/services/Pic35-desk@520.png   520w,
                ./images/main_page/services/Pic35-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic35-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              350 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="waxing">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Facial waxing</h3>
            <p class="services-text">
              Facial waxing is a popular method of hair removal that involves
              the application of warm wax to the facial area and then swiftly
              removing it, along with the unwanted hair, using a cloth strip.
            </p>
            <p class="services-text">
              This technique is commonly used to remove hair from the eyebrows,
              upper lip, chin, and cheeks.
            </p>
            <p class="services-text">
              Facial waxing provides smooth and long-lasting results, leaving
              the skin hair-free and giving a clean and polished appearance.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic31-mob@160.png    160w,
                ./images/main_page/services/Pic31-mob@320.png    320w,
                ./images/main_page/services/Pic31-desk@520.png   520w,
                ./images/main_page/services/Pic31-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic31-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              300 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="lamination">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Eyelash lamination</h3>
            <p class="services-text">
              Eyelash lamination is a popular beauty treatment that enhances the
              appearance of natural eyelashes.
            </p>

            <p class="services-text">
              It involves applying a specialized solution to lift, curl, and set
              the lashes in place, creating a fuller and more defined look.
            </p>
            <p class="services-text">
              The process typically takes about one hour and the results can
              last for several weeks, giving you a low-maintenance option for
              beautiful lashes.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic33-mob@160.png    160w,
                ./images/main_page/services/Pic33-mob@320.png    320w,
                ./images/main_page/services/Pic33-desk@520.png   520w,
                ./images/main_page/services/Pic33-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic33-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              500 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="extensions">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Eyelash extensions</h3>
            <p class="services-text">
              Eyelash extensions are a semi-permanent beauty treatment that
              involves attaching individual synthetic lashes to your natural
              lashes, enhancing their length, thickness, and curl.
            </p>
            <p class="services-text">
              The process is meticulously done by a trained professional, and
              the results can last for several weeks with proper care.
            </p>
            <p class="services-text">
              Eyelash extensions provide a dramatic and glamorous look,
              eliminating the need for mascara and giving you effortlessly
              stunning lashes.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic34-mob@160.png    160w,
                ./images/main_page/services/Pic34-mob@320.png    320w,
                ./images/main_page/services/Pic34-desk@520.png   520w,
                ./images/main_page/services/Pic34-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic34-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              450 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
      <div class="service-wrap" data-name="botox">
        <div class="service-info">
          <div class="services-info-about">
            <h3 class="service-name">Eyelash botox</h3>
            <p class="services-text">
              Eyelash botox, also known as lash botox or lash lift, is a
              cosmetic treatment that aims to enhance the appearance of
              eyelashes by giving them a lifted and curled look.
            </p>
            <p class="services-text">
              The procedure involves the use of a specialized solution that is
              applied to the lashes, helping to relax and soften them for a
              defined and fuller appearance.
            </p>
            <p class="services-text">
              Eyelash botox can last for several weeks, providing a
              low-maintenance option for those seeking to achieve more
              voluminous and beautiful lashes.
            </p>
          </div>
          <div class="services-img-box">
            <div class="services-bg"></div>
            <img
              class="services-img"
              srcset="
                ./images/main_page/services/Pic35-mob@160.png    160w,
                ./images/main_page/services/Pic35-mob@320.png    320w,
                ./images/main_page/services/Pic35-desk@520.png   520w,
                ./images/main_page/services/Pic35-desk@1040.png 1040w
              "
              sizes="(min-width: 768px) 520px, (min-width: 320px) 160px, 160px"
              src="./images/main_page/services/Pic35-desk@520.png"
              alt="pretty girl"
            />
          </div>
        </div>
        <div class="service-order">
          <div class="service-pricing">
            <p class="service-value">
              400 <span class="hryvnia-symbol">&#8372;</span>
            </p>
            <p class="service-detail">per session</p>
          </div>
          <div class="service-button-box">
            <button type="button" class="action-button service-button">
              Make an appointment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    class="service-tool-img"
    srcset="
      ./images/main_page/services/Pic32-mob@150.png  150w,
      ./images/main_page/services/Pic32-mob@300.png  300w,
      ./images/main_page/services/Pic32-desk@368.png 368w,
      ./images/main_page/services/Pic32-desk@736.png 736w
    "
    sizes="(min-width: 1200px) 368px, (min-width: 320px) 150px, 150px"
    src="./images/main_page/services/Pic32-desk@368.png"
    alt="eyebrow dye"
  />
</section>
