<section class="courses-info">
  <h2 class="section-title-white courses-info-title">Knowledge of choice</h2>
  <p class="courses-info-text">
    Knowledge of choice allows individuals to select and acquire specific skills
    and expertise tailored to their interests and career goals.
  </p>
  <div class="courses-info-button-box">
    <button
      type="button"
      class="courses-info-button js-courses-info-button clicked"
      name="educational-courses"
    >
      Educational courses
    </button>
    <button
      type="button"
      class="courses-info-button js-courses-info-button"
      name="workshops"
    >
      Workshops
    </button>
  </div>
  <ul
    class="educational-list js-courses-info-list container list-visible"
    data-name="educational-courses"
  >
    <li class="courses-info-item">
      <h3 class="courses-info-item-title">Brow artist</h3>
      <p class="courses-info-item-description">
        The Brow Artist Course offered at our eyebrow salon provides
        comprehensive training in eyebrow shaping, tinting, and design
        techniques, equipping aspiring professionals with the skills needed to
        excel in the industry
      </p>
      <ul class="courses-info-item-details">
        <li class="courses-info-item-detail">
          <p class="courses-info-item-detail-bold">Program:</p>
          <ul class="courses-info-program-list">
            <li>1. Introduction to the brow artist profession</li>
            <li>2. Brow artist's workspace</li>
            <li>3. Disinfection and hygiene</li>
            <li>4. Facial structure and shape</li>
            <li>5. Brow architecture</li>
            <li>6. Brow shaping</li>
            <li>7. Brow trimming</li>
            <li>8. Complex brows</li>
            <li>9. Eyebrow tinting technique</li>
            <li>10. Recommendations for clients</li>
            <li>11. Creating a portfolio for work.</li>
          </ul>
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold">Duration:</span>
          3 days
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Instructor: </span>
          Olga Biletska
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Start date: </span>
          December 12th
        </li>
      </ul>
      <div class="courses-info-value-box">
        <p class="courses-info-item-value-box-item">Cost</p>
        <p class="courses-info-item-value-box-item-bold">4500 &#8372;</p>
      </div>
    </li>
    <li class="courses-info-item">
      <h3 class="courses-info-item-title">Expert brow stylist</h3>
      <p class="courses-info-item-description">
        The Expert brow stylist Course offered at our eyebrow salon provides
        comprehensive training in eyebrow shaping, tinting, and design
        techniques, equipping aspiring professionals with the skills needed to
        excel in the industry
      </p>
      <ul class="courses-info-item-details">
        <li class="courses-info-item-detail">
          <p class="courses-info-item-detail-bold">Program:</p>
          <ul class="courses-info-program-list">
            <li>1. Introduction to the brow artist profession</li>
            <li>2. Brow artist's workspace</li>
            <li>3. Disinfection and hygiene</li>
            <li>4. Facial structure and shape</li>
            <li>5. Brow architecture</li>
            <li>6. Brow shaping</li>
            <li>7. Brow trimming</li>
            <li>8. Complex brows</li>
            <li>9. Eyebrow tinting technique</li>
          </ul>
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold">Duration:</span>
          2 days
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Instructor: </span>
          Oksana Doroshenko
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Start date: </span>
          December 14th
        </li>
      </ul>
      <div class="courses-info-value-box">
        <p class="courses-info-item-value-box-item">Cost</p>
        <p class="courses-info-item-value-box-item-bold">4000 &#8372;</p>
      </div>
    </li>
    <li class="courses-info-item">
      <h3 class="courses-info-item-title">Eyelash lamination</h3>
      <p class="courses-info-item-description">
        The Eyelash Lamination Course available at our eyebrow salon offers
        comprehensive training in the technique, providing aspiring
        professionals with the knowledge and skills to master the art of eyelash
        lamination and enhance their clients' natural lashes
      </p>
      <ul class="courses-info-item-details">
        <li class="courses-info-item-detail">
          <p class="courses-info-item-detail-bold">Program:</p>
          <ul class="courses-info-program-list">
            <li>1. Introduction to eyelash lamination technique</li>
            <li>2. Understanding different types of lash products and tools</li>
            <li>3. Preparing the client and ensuring safety of procedure</li>
            <li>4. Proper application of lash lifting solution</li>
            <li>5. Technique for applying lash perming solution</li>
            <li>6. Utilizing lash tinting for enhanced results</li>
            <li>7. Aftercare instructions and maintenance tips</li>
            <li>8. Advanced techniques for achieving different lash looks</li>
            <li>
              9. Practice sessions and hands-on experience for mastering the
              skill
            </li>
          </ul>
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold">Duration:</span>
          3 days
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Instructor: </span>
          Iryna Strilchuk
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Start date: </span>
          December 16th
        </li>
      </ul>
      <div class="courses-info-value-box">
        <p class="courses-info-item-value-box-item">Cost</p>
        <p class="courses-info-item-value-box-item-bold">5000 &#8372;</p>
      </div>
    </li>
  </ul>
  <ul
    class="workshops-list js-courses-info-list container"
    data-name="workshops"
  >
    <li class="courses-info-item">
      <h3 class="courses-info-item-title">Brow Design and Shaping</h3>
      <p class="courses-info-item-description">
        Brow Design and Shaping provides a comprehensive training on precision
        brow mapping, shaping techniques, and personalized styling to create
        beautifully balanced and perfectly tailored eyebrows
      </p>
      <ul class="courses-info-item-details">
        <li class="courses-info-item-detail">
          <p class="courses-info-item-detail-bold">Program:</p>
          <ul class="courses-info-program-list">
            <li>
              1. Introduction to brow design principles and facial symmetry
            </li>
            <li>
              2. Identifying different brow shapes and their suitability for
              different face types
            </li>
            <li>3. Techniques for precise brow mapping and measurements</li>
            <li>
              4. Brow shaping using waxing, tweezing, and threading methods
            </li>
            <li>5. Correcting asymmetry and achieving balanced brows</li>
            <li>6. Creating defined arches and tailoring brow thickness</li>
            <li>7. Enhancing brows with tinting and makeup techniques</li>
            <li>8. Brow styling and product recommendations for maintenance</li>
            <li>9. Troubleshooting common brow shaping challenges</li>
            <li>10. Hands-on practice sessions and individualized feedback.</li>
          </ul>
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold">Duration:</span>
          1 day
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Instructor: </span>
          Olga Biletska
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Start date: </span>
          December 11th
        </li>
      </ul>
      <div class="courses-info-value-box">
        <p class="courses-info-item-value-box-item">Cost</p>
        <p class="courses-info-item-value-box-item-bold">1500 &#8372;</p>
      </div>
    </li>
    <li class="courses-info-item">
      <h3 class="courses-info-item-title">
        Microblading and Micropigmentation
      </h3>
      <p class="courses-info-item-description">
        Microblading and Micropigmentation offers in-depth instruction on the
        art of creating realistic hair-like strokes and utilizing
        micropigmentation techniques to achieve natural-looking, semi-permanent
        eyebrow enhancements
      </p>
      <ul class="courses-info-item-details">
        <li class="courses-info-item-detail">
          <p class="courses-info-item-detail-bold">Program:</p>
          <ul class="courses-info-program-list">
            <li>
              1. Introduction to microblading and micropigmentation techniques
            </li>
            <li>
              2. Understanding different tools, needles, and pigments used in
              the process
            </li>
            <li>3. Client consultation and managing expectations</li>
            <li>4. Preparing the client's skin for the procedure</li>
            <li>
              5. Practicing accurate brow design and mapping for natural-looking
              results
            </li>
            <li>6. Microblading and micropigmentation stroke techniques</li>
            <li>
              7. Color theory and pigment selection for different skin tones
            </li>
            <li>8. Touch-up sessions and maintaining long-lasting resultse</li>
            <li>
              9. Practical sessions on artificial skin and live models for
              hands-on experience
            </li>
          </ul>
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold">Duration:</span>
          1 day
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Instructor: </span>
          Oksana Doroshenko
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Start date: </span>
          December 17th
        </li>
      </ul>
      <div class="courses-info-value-box">
        <p class="courses-info-item-value-box-item">Cost</p>
        <p class="courses-info-item-value-box-item-bold">2000 &#8372;</p>
      </div>
    </li>
    <li class="courses-info-item">
      <h3 class="courses-info-item-title">
        Advanced Brow Tinting and Lash Lift
      </h3>
      <p class="courses-info-item-description">
        Advanced Brow Tinting and Lash Lift provides comprehensive training in
        the latest techniques for achieving perfectly tinted brows and stunning
        lash lifts, resulting in beautifully enhanced and defined eyes
      </p>
      <ul class="courses-info-item-details">
        <li class="courses-info-item-detail">
          <p class="courses-info-item-detail-bold">Program:</p>
          <ul class="courses-info-program-list">
            <li>
              1. Introduction to advanced brow tinting techniques and lash lift
              procedure
            </li>
            <li>
              2. Understanding different types of dyes, tints, and developers
            </li>
            <li>3. Safety precautions and client patch testing</li>
            <li>
              4. Customizing tint shades to complement different hair colors and
              skin tones
            </li>
            <li>
              5. Correct application of brow tint and avoiding staining the skin
            </li>
            <li>6. Lash lift procedure and lash curling techniques</li>
            <li>
              7. Achieving optimum lash lift results for different lash lengths
              and textures
            </li>
            <li>
              8. Combining lash lift with lash tint for enhanced definition
            </li>
            <li>
              9. Troubleshooting common issues during the tinting and lift
              process
            </li>
            <li>
              10. Hands-on practice sessions on artificial brows and lashes for
              skill refinement
            </li>
          </ul>
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold">Duration:</span>
          1 day
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Instructor: </span>
          Iryna Strilchuk
        </li>
        <li class="courses-info-item-detail">
          <span class="courses-info-item-detail-bold"> Start date: </span>
          December 18th
        </li>
      </ul>
      <div class="courses-info-value-box">
        <p class="courses-info-item-value-box-item">Cost</p>
        <p class="courses-info-item-value-box-item-bold">1500 &#8372;</p>
      </div>
    </li>
  </ul>
  <img
    class="courses-info-img"
    srcset="
      ./images/courses_page/Pic102-mob@200.png  200w,
      ./images/courses_page/Pic102-mob@400.png  400w,
      ./images/courses_page/Pic102-desk@490.png 490w,
      ./images/courses_page/Pic102-desk@980.png 980w
    "
    sizes="(min-width: 768px) 490px, (min-width: 320px) 200px, 200px"
    src="./images/courses_page/Pic102-desk@490.png"
    alt="brush"
  />
</section>
