<section class="courses-info container">
  <h2 class="section-title-black courses-info-title">School of Masters</h2>
  <div class="courses-info-box">
    <div class="courses-info-row">
      <div class="courses-info-item">
        <h3 class="courses-info-subtitle">
          We will teach you beauty to create
        </h3>
        <p class="courses-info-description">
          At our eyebrow beauty salon, we pride ourselves on our expertise in
          shaping and enhancing eyebrows, and we are dedicated to teaching you
          how to create beauty through perfectly sculpted brows
        </p>
        <p class="courses-info-description">
          Our experienced team of professionals will guide you through various
          techniques and methods to achieve the ideal eyebrow shape that best
          suits your face, ensuring that you leave our salon equipped with the
          knowledge to create beautiful brows on your own
        </p>
        <p class="courses-info-description">
          Whether you're a beginner or looking to refine your skills, our
          eyebrow beauty salon offers comprehensive training programs that will
          empower you with the tools and techniques to master the art of
          creating beauty through perfectly groomed eyebrows
        </p>
      </div>
      <div class="courses-info-item courses-background">
        <img
          class="courses-tweezers-img"
          srcset="
            ./images/main_page/about/Pic21-mob146.png   146w,
            ./images/main_page/about/Pic21-mob@286.png  296w,
            ./images/main_page/about/Pic21-desk414.png  414w,
            ./images/main_page/about/Pic21-desk@828.png 828w
          "
          sizes="(min-width: 768px) 414px, (min-width: 320px) 146px, 146px"
          src="./images/main_page/about/Pic21-desk414.png"
          alt="tweezers"
        />
        <img
          class="courses-brushes-img"
          srcset="
            ./images/main_page/reviews/Pic52-desk@600.png   600w,
            ./images/main_page/reviews/Pic52-desk@1200.png 1200w
          "
          sizes="(min-width: 1200px) 600px, 600px"
          src="./images/main_page/reviews/Pic52-desk@1200.png"
          alt="eyebrow brushes"
        />
        <img
          class="courses-dye-img"
          srcset="
            ./images/main_page/masterschool/Pic41-mob@138.png  138w,
            ./images/main_page/masterschool/Pic41-mob@276.png  276w,
            ./images/main_page/masterschool/Pic41-desk@384.png 384w,
            ./images/main_page/masterschool/Pic41-desk@768.png 768w
          "
          sizes="(min-width: 1200px) 384px, (min-width: 320px) 138px, 138px"
          src="./images/main_page/masterschool/Pic41-desk@768.png"
          alt="eyebrow dye"
        />
        <img
          class="courses-spray-img"
          srcset="
            ./images/main_page/reviews/Pic51-mob@170.png  170w,
            ./images/main_page/reviews/Pic51-mob@340.png  340w,
            ./images/main_page/reviews/Pic51-desk@310.png 310w,
            ./images/main_page/reviews/Pic51-desk@620.png 620w
          "
          sizes="(min-width: 1200px) 310px, (min-width: 320px) 170px, 170px"
          src="./images/main_page/reviews/Pic51-desk@310.png"
          alt="eyebrow spray"
        />
        <img
          class="courses-pencil-img"
          srcset="
            ./images/services_page/Pic81-mob@200.png    200w,
            ./images/services_page/Pic81-mob@400.png    400w,
            ./images/services_page/Pic81-desk@600.png   600w,
            ./images/services_page/Pic81-desk@1200.png 1200w
          "
          sizes="(min-width: 768px) 600px, (min-width: 320px) 200px, 200px"
          src="./images/services_page/Pic81-desk@600.png"
          alt="pencil"
        />
        <img
          class="courses-corrector-img"
          srcset="
            ./images/contacts_page/Pic91-mob@120.png   200w,
            ./images/contacts_page/Pic91-mob@240.png   400w,
            ./images/contacts_page/Pic91-desk@320.png  600w,
            ./images/contacts_page/Pic91-desk@640.png 1200w
          "
          sizes="(min-width: 768px) 320px, (min-width: 320px) 120px, 120px"
          src="./images/contacts_page/Pic91-desk@320.png"
          alt="eyebrow corrector"
        />
      </div>
    </div>
    <div class="courses-info-row">
      <div class="courses-info-item">
        <div class="courses-item-box">
          <h3 class="courses-info-subtitle">Everything will be real</h3>
          <p class="courses-info-description">
            At our eyebrow beauty salon, we believe in providing an authentic
            learning experience where everything you encounter during your
            studies will reflect real-life scenarios and situations
          </p>
          <p class="courses-info-description">
            Our training programs in the eyebrow beauty salon are designed to
            immerse you in a genuine educational environment, ensuring that you
            gain practical skills and knowledge that can be directly applied in
            the industry
          </p>
          <p class="courses-info-description">
            From hands-on practice with real clients to learning the latest
            trends and techniques, we ensure that everything in your studying
            journey at our eyebrow beauty salon is geared towards preparing you
            for a successful and fulfilling career in the field
          </p>
        </div>
      </div>
      <div class="courses-info-item courses-background">
        <img
          class="courses-certificate-img"
          srcset="
            ./images/courses_page/Pic101-mob@300.png    300w,
            ./images/courses_page/Pic101-mob@600.png    600w,
            ./images/courses_page/Pic101-desk@704.png   704w,
            ./images/courses_page/Pic101-desk@1408.png 1408w
          "
          sizes="(min-width: 768px) 704px, (min-width: 320px) 300px, 300px"
          src="./images/courses_page/Pic101-desk@704.png"
          alt="certificate"
        />
      </div>
    </div>
  </div>
  <img
    class="courses-corrector-img-2"
    srcset="
      ./images/contacts_page/Pic91-mob@120.png   200w,
      ./images/contacts_page/Pic91-mob@240.png   400w,
      ./images/contacts_page/Pic91-desk@320.png  600w,
      ./images/contacts_page/Pic91-desk@640.png 1200w
    "
    sizes="(min-width: 768px) 320px, (min-width: 320px) 120px, 120px"
    src="./images/contacts_page/Pic91-desk@320.png"
    alt="eyebrow corrector"
  />
</section>
