<section class="feedback container">
  <h2 class="section-title-black feedback-title">Words about us</h2>
  <p class="feedback-info-text">
    Here you can read genuine reviews and testimonials from clients of our
    eyebrow salon, sharing their honest experiences and satisfaction with our
    services.
  </p>
  <ul class="feedback-box">
    <li class="feedback-item">
      <img
        src="./images/main_page/reviews/Pic53-mob@48.png"
        alt="user photo"
        class="feedback-user-photo"
      />
      <div class="feedback-user-info">
        <p class="feedback-user-name">анна ходокова</p>
        <p class="feedback-user-comment">
          I had an amazing experience at this eyebrow salon! The staff was
          friendly, the service was impeccable, and my eyebrows turned out
          perfect. I highly recommend this salon for anyone looking for
          professional eyebrow shaping and styling
        </p>
      </div>
    </li>
  </ul>
  <img
    class="feedback-dye-img"
    srcset="
      ./images/main_page/services/Pic32-mob@150.png  150w,
      ./images/main_page/services/Pic32-mob@300.png  300w,
      ./images/main_page/services/Pic32-desk@368.png 368w,
      ./images/main_page/services/Pic32-desk@736.png 736w
    "
    sizes="(min-width: 1200px) 368px, (min-width: 320px) 150px, 150px"
    src="./images/main_page/services/Pic32-desk@368.png"
    alt="eyebrow dye"
  />
  <img
    class="feedback-brush-img"
    srcset="
      ./images/courses_page/Pic102-mob@200.png  200w,
      ./images/courses_page/Pic102-mob@400.png  400w,
      ./images/courses_page/Pic102-desk@490.png 490w,
      ./images/courses_page/Pic102-desk@980.png 980w
    "
    sizes="(min-width: 768px) 490px, (min-width: 320px) 200px, 200px"
    src="./images/courses_page/Pic102-desk@490.png"
    alt="brush"
  />
</section>
