<section class="feedback container">
  <h2 class="section-title-black feedback-title">Words about us</h2>
  <p class="feedback-info-text">
    Here you can read genuine reviews and testimonials from clients of our
    eyebrow salon, sharing their honest experiences and satisfaction with our
    services.
  </p>
  <ul class="feedback-box js-feedback-box"></ul>
  <div id="tui-pagination-container" class="tui-pagination"></div>
  <img
    class="feedback-dye-img"
    srcset="
      ./images/main_page/services/Pic32-mob@150.png  150w,
      ./images/main_page/services/Pic32-mob@300.png  300w,
      ./images/main_page/services/Pic32-desk@368.png 368w,
      ./images/main_page/services/Pic32-desk@736.png 736w
    "
    sizes="(min-width: 1200px) 368px, (min-width: 320px) 150px, 150px"
    src="./images/main_page/services/Pic32-desk@368.png"
    alt="eyebrow dye"
  />
  <img
    class="feedback-brush-img"
    srcset="
      ./images/courses_page/Pic102-mob@200.png  200w,
      ./images/courses_page/Pic102-mob@400.png  400w,
      ./images/courses_page/Pic102-desk@490.png 490w,
      ./images/courses_page/Pic102-desk@980.png 980w
    "
    sizes="(min-width: 768px) 490px, (min-width: 320px) 200px, 200px"
    src="./images/courses_page/Pic102-desk@490.png"
    alt="brush"
  />
  <div class="pagination-container">
    <button class="pagination-button arrow-left">
      Back
      <svg class="svg-arrow-left" width="30" height="20">
        <use href="./images/svg-icons.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button class="pagination-button first-button">1</button>
    <span class="dots" id="previous">...</span>
    <button class="pagination-button pagination--current" data-index="1">
      1
    </button>
    <button class="pagination-button" data-index="2">2</button>
    <button class="pagination-button" data-index="3">3</button>
    <button class="pagination-button" data-index="4">4</button>
    <button class="pagination-button" data-index="5">5</button>
    <span class="dots" id="after">...</span>
    <button class="pagination-button last-button">1000</button>
    <button class="pagination-button arrow-right">
      Forward
      <svg class="svg-arrow-right" width="30" height="20">
        <use href="./images/svg-icons.svg#icon-arrow-more"></use>
      </svg>
    </button>
  </div>
</section>
