<section class="achievements">
  <div class="container">
    <h2 class="section-title-white achievements-title">this is our work</h2>
    <p class="achievements-text">
      Every day we work to become better for you. Our achievements are our
      common victory!
    </p>
    <ul class="achievements-list">
      <li class="achievements-item">
        <p class="achievements-number">5</p>
        <p class="achievements-name">
          outstanding <br />
          masters
        </p>
      </li>
      <li class="achievements-item">
        <p class="achievements-number">1 062</p>
        <p class="achievements-name">
          provided <br />
          services
        </p>
      </li>
      <li class="achievements-item">
        <p class="achievements-number">35</p>
        <p class="achievements-name">
          minutes until <br />
          the result
        </p>
      </li>
      <li class="achievements-item">
        <p class="achievements-number">10</p>
        <p class="achievements-name">
          main <br />
          services
        </p>
      </li>
    </ul>
    <a class="achievements-details" href="#">
      <p>Find out the details</p>
      <svg class="header-burger-icon" width="30" height="20">
        <use href="./images/svg-icons.svg#icon-arrow-more"></use>
      </svg>
    </a>
    <img
      class="achievements-img"
      srcset="
        ./images/about/Pic21-mob146.png   146w,
        ./images/about/Pic21-mob@286.png  296w,
        ./images/about/Pic21-desk414.png  414w,
        ./images/about/Pic21-desk@828.png 828w
      "
      sizes="(min-width: 768px) 414px, (min-width: 320px) 146px, 146px"
      src="./images/about/Pic21-desk414.png"
      alt="pretty girl"
      class="slider-picture"
    />
  </div>
</section>
