<header class="header container">
  <ul class="header-menu-desk">
    <li class="header-item">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="header-address-link"
      >
        <address class="header-address">Kyiv, Lesi Ukrainky St, 14</address>
        <div class="header-address-pointer">Look on the map</div>
      </a>
    </li>
    <li class="header-item">
      <nav class="header-nav">
        <a href="#" class="current-page">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#" class="logo">BE</a>
        <a href="#">Reviews</a>
        <a href="#"> Courses</a>
        <a href="#">Contacts</a>
      </nav>
    </li>
    <li class="header-item">
      <address class="header-phone">
        <a href="tel:+380961111111" class="header-phone-link"
          >+38 096 111 11 11</a
        >
      </address>
      <a href="#" class="header-telegram-link">Write to us</a>
    </li>
  </ul>

  <!-- mobile menu -->
  <div class="mobile-menu-wrap">
    <ul class="header-menu-mobile">
      <li class="header-burger" data-menu-open>
        <svg class="header-burger-icon" width="30" height="20">
          <use href="./images/svg-icons.svg#icon-burger"></use>
        </svg>
      </li>
      <li class="header-item">
        <address class="header-phone">
          <a href="tel:+380961111111" class="header-phone-link"
            >+38 096 111 11 11</a
          >
        </address>
        <a href="#" class="header-telegram-link">Write to us</a>
      </li>
      <li class="header-item">
        <a href="#" class="logo">BE</a>
      </li>
    </ul>
    <!-- modal menu -->
    <div class="modal-menu js-modal-menu is-hidden">
      <button type="button" class="mobile-menu-close" data-menu-close>
        <svg class="modal-close-icon" width="24" height="24">
          <use
            class="menu-close-cross"
            href="./images/svg-icons.svg#icon-close"
          ></use>
        </svg>
      </button>
      <nav class="mobile-header-nav">
        <a href="#" class="mobile-nav-link">Home</a>
        <a href="#" class="mobile-nav-link">About</a>
        <a href="#" class="mobile-nav-link">Services</a>
        <a href="#" class="mobile-nav-link">Reviews</a>
        <a href="#" class="mobile-nav-link"> Courses</a>
        <a href="#" class="mobile-nav-link">Contacts</a>
      </nav>
    </div>
  </div>
</header>
