<section class="hero container">
  <div class="hero-info">
    <div class="info-wrap">
      <h1 class="hero-title">
        super eyebrows from
        <br />
        <span class="hero-name">brow expert</span> masters
      </h1>
      <p class="hero-text">
        Eyebrows of a certain shape can completely change a person's face.
        <span class="mobile-none">
          It's amazing how much eyebrows can influence a woman's appearance.Our
          beauty salon's professionals are happy to bring any of your wishes to
          life. They will always listen to your preferences regarding the shape,
          desired shade, or correction, where you already know what the outcome
          should be.</span
        >
        Are you ready to get what you want?
      </p>
      <button type="button" class="action-button hero-button">
        Make an appointment
      </button>
    </div>
  </div>
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img-wrap">
          <div class="hero-bg"></div>
          <img
            srcset="
              ./images/hero/Pic1-mob170.png      170w,
              ./images/hero/Pic1-mob@340.png     340w,
              ./images/hero/Pic1-desk540.png     540w,
              ./images/hero/Pic1-desk2@1080.png 1080w
            "
            sizes="(min-width: 768px) 540px, (min-width: 320px) 170px, 170px"
            src="./images/hero/Pic1-desk540.png"
            alt="pretty girl"
            class="slider-picture"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img-wrap">
          <div class="hero-bg"></div>
          <img
            srcset="
              ./images/hero/Pic2-mob170.png      170w,
              ./images/hero/Pic2-mob@340.png     340w,
              ./images/hero/Pic2-desk540.png     540w,
              ./images/hero/Pic2-desk2@1080.png 1080w
            "
            sizes="(min-width: 768px) 540px, (min-width: 320px) 170px, 170px"
            src="./images/hero/Pic2-desk540.png"
            alt="pretty girl"
            class="slider-picture"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img-wrap">
          <div class="hero-bg"></div>
          <img
            srcset="
              ./images/hero/Pic7-mob170.png      170w,
              ./images/hero/Pic7-mob@340.png     340w,
              ./images/hero/Pic7-desk540.png     540w,
              ./images/hero/Pic7-desk2@1080.png 1080w
            "
            sizes="(min-width: 768px) 540px, (min-width: 320px) 170px, 170px"
            src="./images/hero/Pic7-desk540.png"
            alt="pretty girl"
            class="slider-picture"
          />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img-wrap">
          <div class="hero-bg"></div>
          <img
            srcset="
              ./images/hero/Pic6-mob170.png      170w,
              ./images/hero/Pic6-mob@340.png     340w,
              ./images/hero/Pic6-desk540.png     540w,
              ./images/hero/Pic6-desk2@1080.png 1080w
            "
            sizes="(min-width: 768px) 540px, (min-width: 320px) 170px, 170px"
            src="./images/hero/Pic6-desk540.png"
            alt="pretty girl"
            class="slider-picture"
          />
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
