<section class="command">
  <h2 class="section-title-white command-title">We are a team</h2>
  <p class="command-info">
    We work together, supporting and collaborating with each other, as a
    cohesive team.
  </p>
  <div class="command-buttons-box">
    <button
      type="button"
      class="command-button js-command-button clicked"
      name="masters"
    >
      Masters
    </button>
    <button
      type="button"
      class="command-button js-command-button"
      name="teachers"
    >
      Teachers
    </button>
  </div>
  <div class="command-swipers">
    <div
      class="swiper command-swiper js-command-swiper slider-visible"
      data-name="masters"
    >
      <div class="swiper-wrapper command-swiper-wrapper">
        <div class="swiper-slide command-slide">
          <div class="command-photo-wrap">
            <div class="command-bg"></div>
            <img
              class="command-img"
              srcset="
                ./images/about_page/command/Pic71-mob@220.png  220w,
                ./images/about_page/command/Pic71-mob@440.png  440w,
                ./images/about_page/command/Pic71-desk@400.png 400w,
                ./images/about_page/command/Pic71-desk@800.png 800w
              "
              sizes="(min-width: 768px) 400px, (min-width: 320px) 220px, 220px"
              src="./images/about_page/command/Pic71-desk@400.png"
              alt="master photo"
            />
          </div>
          <div class="command-about">
            <p class="command-name">Iryna Strilchuk</p>
            <p class="command-description">
              highly sought-after eyebrow master with an impressive reputation
              for her meticulous attention to detail and ability to create
              natural-looking, perfectly shaped eyebrows. Her expertise and
              dedication have earned her a loyal following of satisfied
              customers who trust her to deliver exceptional results every time
            </p>
          </div>
        </div>
        <div class="swiper-slide command-slide">
          <div class="command-photo-wrap">
            <div class="command-bg"></div>
            <img
              class="command-img"
              srcset="
                ./images/about_page/command/Pic72-mob@220.png  220w,
                ./images/about_page/command/Pic72-mob@440.png  440w,
                ./images/about_page/command/Pic72-desk@400.png 400w,
                ./images/about_page/command/Pic72-desk@800.png 800w
              "
              sizes="(min-width: 768px) 400px, (min-width: 320px) 220px, 220px"
              src="./images/about_page/command/Pic72-desk@400.png"
              alt="master photo"
            />
          </div>
          <div class="command-about">
            <p class="command-name">Kateryna Kovalenko</p>
            <p class="command-description">
              Highly skilled eyebrow master known for her expertise in shaping
              and enhancing eyebrows. With years of experience and a keen eye
              for detail, she has earned a reputation for creating stunning and
              natural-looking eyebrows that beautifully frame the face and
              change the entire appearance.
            </p>
          </div>
        </div>
        <div class="swiper-slide command-slide">
          <div class="command-photo-wrap">
            <div class="command-bg"></div>
            <img
              class="command-img"
              srcset="
                ./images/about_page/command/Pic73-mob@220.png  220w,
                ./images/about_page/command/Pic73-mob@440.png  440w,
                ./images/about_page/command/Pic73-desk@400.png 400w,
                ./images/about_page/command/Pic73-desk@800.png 800w
              "
              sizes="(min-width: 768px) 400px, (min-width: 320px) 220px, 220px"
              src="./images/about_page/command/Pic73-desk@400.png"
              alt="master photo"
            />
          </div>
          <div class="command-about">
            <p class="command-name">Natalya Zalepa</p>
            <p class="command-description">
              Eyebrow master known for her artistry in creating beautifully
              defined and symmetrical eyebrows that frame the face and enhance
              natural beauty. With her keen eye for detail, she has established
              herself as a trusted professional, leaving her clients feeling
              confident and delighted with their transformed brows.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination command-pagination"></div>
    </div>
    <div class="swiper command-swiper js-command-swiper" data-name="teachers">
      <div class="swiper-wrapper command-swiper-wrapper">
        <div class="swiper-slide command-slide">
          <div class="command-photo-wrap">
            <div class="command-bg"></div>
            <img
              class="command-img"
              srcset="
                ./images/about_page/command/Pic74-mob@220.png  220w,
                ./images/about_page/command/Pic74-mob@440.png  440w,
                ./images/about_page/command/Pic74-desk@400.png 400w,
                ./images/about_page/command/Pic74-desk@800.png 800w
              "
              sizes="(min-width: 768px) 400px, (min-width: 320px) 220px, 220px"
              src="./images/about_page/command/Pic74-desk@400.png"
              alt="teacher photo"
            />
          </div>
          <div class="command-about">
            <p class="command-name">Olga Biletska</p>
            <p class="command-description">
              Respected eyebrow teacher who is known for her exceptional
              expertise and passion for sharing her knowledge with aspiring
              professionals. With her in-depth understanding of eyebrow shaping
              techniques and keen attention to detail, Olga empowers her
              students to create stunning, customized eyebrow designs.
            </p>
          </div>
        </div>
        <div class="swiper-slide command-slide">
          <div class="command-photo-wrap">
            <div class="command-bg"></div>
            <img
              class="command-img"
              srcset="
                ./images/about_page/command/Pic75-mob@220.png  220w,
                ./images/about_page/command/Pic75-mob@440.png  440w,
                ./images/about_page/command/Pic75-desk@400.png 400w,
                ./images/about_page/command/Pic75-desk@800.png 800w
              "
              sizes="(min-width: 768px) 400px, (min-width: 320px) 220px, 220px"
              src="./images/about_page/command/Pic75-desk@400.png"
              alt="teacher photo"
            />
          </div>
          <div class="command-about">
            <p class="command-name">Oksana Doroshenko</p>
            <p class="command-description">
              Highly regarded eyebrow teacher, recognized for her exceptional
              ability to educate and train aspiring professionals in the art of
              eyebrow shaping and design. With her comprehensive knowledge and
              patient teaching approach, she empowers her students to master
              various techniques.
            </p>
          </div>
        </div>
        <div class="swiper-slide command-slide">
          <div class="command-photo-wrap">
            <div class="command-bg"></div>
            <img
              class="command-img"
              srcset="
                ./images/about_page/command/Pic71-mob@220.png  220w,
                ./images/about_page/command/Pic71-mob@440.png  440w,
                ./images/about_page/command/Pic71-desk@400.png 400w,
                ./images/about_page/command/Pic71-desk@800.png 800w
              "
              sizes="(min-width: 768px) 400px, (min-width: 320px) 220px, 220px"
              src="./images/about_page/command/Pic71-desk@400.png"
              alt="teacher photo"
            />
          </div>
          <div class="command-about">
            <p class="command-name">Iryna Strilchuk</p>
            <p class="command-description">
              highly sought-after eyebrow master with an impressive reputation
              for her meticulous attention to detail and ability to create
              natural-looking, perfectly shaped eyebrows. Her expertise and
              dedication have earned her a loyal following of satisfied
              customers who trust her to deliver exceptional results every time
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination command-pagination"></div>
    </div>
  </div>
</section>
