<section class="rules">
  <div class="container">
    <h2 class="section-title-black rules-title">Strict rules</h2>
    <p class="rules-info">
      We love our work, so we take it very seriously and adhere to strict rules.
    </p>
    <img
      class="rules-spray-img"
      srcset="
        ./images/main_page/reviews/Pic51-mob@170.png  170w,
        ./images/main_page/reviews/Pic51-mob@340.png  340w,
        ./images/main_page/reviews/Pic51-desk@310.png 310w,
        ./images/main_page/reviews/Pic51-desk@620.png 620w
      "
      sizes="(min-width: 1200px) 310px, (min-width: 320px) 170px, 170px"
      src="./images/main_page/reviews/Pic51-desk@310.png"
      alt="eyebrow spray"
    />
    <ul class="rules-list">
      <li class="rules-item">
        <div class="rules-number">1</div>
        <div class="rules-description">
          <p class="rules-description-title">Cleanliness</p>
          <p class="rules-description-text">
            and hygiene in all areas of the beauty salon, including regular
            cleaning and disinfection of workstations, tools, and equipment.
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">2</div>
        <div class="rules-description">
          <p class="rules-description-title">Adherence</p>
          <p class="rules-description-text">
            to all sanitary norms and regulations, including the use of
            disposable materials and hygiene products when necessary
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">3</div>
        <div class="rules-description">
          <p class="rules-description-title">Development</p>
          <p class="rules-description-text">
            of the staff, providing them with opportunities for training and
            qualification enhancement.
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">4</div>
        <div class="rules-description">
          <p class="rules-description-title">Inspection</p>
          <p class="rules-description-text">
            of quality and control of the products used, prohibition of using
            uncertified cosmetic products.
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">5</div>
        <div class="rules-description">
          <p class="rules-description-title">Safety</p>
          <p class="rules-description-text">
            clear procedures to protect both clients and staff, including
            providing instructions for the operation of equipment and the use of
            cosmetic products.
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">6</div>
        <div class="rules-description">
          <p class="rules-description-title">Compliance</p>
          <p class="rules-description-text">
            of the services offered by the beauty salon to quality and safety
            standards.
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">7</div>
        <div class="rules-description">
          <p class="rules-description-title">Prohibition</p>
          <p class="rules-description-text">
            of performing services if the client has contraindications or a
            health condition that prevents the procedure from being carried out.
          </p>
        </div>
      </li>
      <li class="rules-item">
        <div class="rules-number">8</div>
        <div class="rules-description">
          <p class="rules-description-title">Protection</p>
          <p class="rules-description-text">
            and confidentiality of clients' personal data, compliance with
            relevant information protection regulations.
          </p>
        </div>
      </li>
    </ul>
    <img
      class="rules-tweezers-img"
      srcset="
        ./images/main_page/about/Pic21-mob146.png   146w,
        ./images/main_page/about/Pic21-mob@286.png  296w,
        ./images/main_page/about/Pic21-desk414.png  414w,
        ./images/main_page/about/Pic21-desk@828.png 828w
      "
      sizes="(min-width: 768px) 414px, (min-width: 320px) 146px, 146px"
      src="./images/main_page/about/Pic21-desk414.png"
      alt="tweezers"
    />
  </div>
</section>
