<section class="work container">
  <h2 class="section-title-black work-title">This is our work</h2>
  <ul class="work-info-list">
    <li class="work-info-item">
      <div class="work-info-wrap">
        <p class="work-info-text">
          The eyebrow beauty salon offers a range of services dedicated to
          enhancing and beautifying the eyebrows of its clients. The skilled
          technicians at the salon are trained in various eyebrow shaping
          techniques, including waxing, threading, and microblading. The salon
          is equipped with state-of-the-art tools and equipment specifically
          designed for eyebrow grooming and styling.
        </p>
      </div>
      <div class="work-img-box">
        <img
          class="work-img"
          srcset="
            ./images/about_page/work/Pic61-mob@294.jpg  294w,
            ./images/about_page/work/Pic61-mob@588.jpg  588w,
            ./images/about_page/work/Pic61-desk@486.jpg 486w,
            ./images/about_page/work/Pic61-desk@972.jpg 972w
          "
          sizes="(min-width: 1200px) 486px, (min-width: 320px) 294px, 294px"
          src="./images/about_page/work/Pic61-desk@486.jpg"
          alt="beauty salon inside"
        />
        <div class="work-img-frame"></div>
      </div>
    </li>
    <li class="work-info-item">
      <div class="work-info-wrap">
        <p class="work-info-text">
          Clients can expect a comfortable and relaxing atmosphere at the salon,
          with plush seating and soothing background music. The salon also
          provides consultations to understand clients' preferences and tailor
          the eyebrow treatments to their individual needs. In addition to
          shaping and grooming, the salon offers additional services such as
          tinting, eyebrow extensions, and personalized advice on eyebrow care
          and maintenance.
        </p>
      </div>
      <div class="work-img-box">
        <img
          class="work-img"
          srcset="
            ./images/about_page/work/Pic62-mob@294.jpg  294w,
            ./images/about_page/work/Pic62-mob@588.jpg  588w,
            ./images/about_page/work/Pic62-desk@486.jpg 486w,
            ./images/about_page/work/Pic62-desk@972.jpg 972w
          "
          sizes="(min-width: 1200px) 486px, (min-width: 320px) 294px, 294px"
          src="./images/about_page/work/Pic62-desk@486.jpg"
          alt="beauty salon inside"
        />
        <div class="work-img-frame"></div>
      </div>
    </li>
  </ul>
  <img
    class="work-masterschool-img"
    srcset="
      ./images/main_page/masterschool/Pic41-mob@138.png  138w,
      ./images/main_page/masterschool/Pic41-mob@276.png  276w,
      ./images/main_page/masterschool/Pic41-desk@384.png 384w,
      ./images/main_page/masterschool/Pic41-desk@768.png 768w
    "
    sizes="(min-width: 1200px) 384px, (min-width: 320px) 138px, 138px"
    src="./images/main_page/masterschool/Pic41-desk@768.png"
    alt="eyebrow dye"
  />
</section>
